
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bg-top{
    background: #A88F67;
}
.nav_under{
    border-bottom: 1px solid #A88F67;
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}
.nav_left{
    padding-left: 38px;
}
.nav_right{
    margin-top: 52px;
    margin-left: 20px;
    display: flex;
}
.nav_rtext{
    font-size: 16px;
    color: #000;
    font-weight: 600;
    padding: 0 12px;
}
.bottom-left{
    margin-left: 130px;
}
.black-right{
    padding: 0px 10px;
}
.foo-b{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
}
.foo-bl{
    width: 25%;
    color: #FFF;
    .foo-st{
        font-size: 12px;
        color: gray;
        padding-bottom: 40px;
    }
    .foo-st2{
        font-size: 12px;
    }
}
.foo-bmid{
    width: 40%;
}
.foo-br{
    width: 25%;
    color: #FFF;
    .foo-st3{
        font-size: 22px;
        color: gray;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
    }
    .foo-st4{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
}

@media(min-width: 992px){
    .custom-acc{
        
    }
    .accordion-item{
        color: #FFF;
        background: #000;
    }
}